[alias]
	br = branch
	bra = branch -a
	ci = commit
	co = checkout
	df = diff
	st = status
	dfw = diff --color-words
	dfc = diff --color-words=.
	dfcr = diff --word-diff-regex=.
  pure = pull --rebase
  # PT
	sup = submodule update --init --recursive
  br-sorted = branch -a --sort=-committerdate
[color]
	ui = auto
[core]
	editor = vim
	quotepath = false
[merge]
#	tool = kdiff3
	tool = meld
[push]
	default = simple
[user]
	name = Andrew Petelin
	email = adrianopol@gmail.com
