*.sw[nop]
*~

/*

!/.aliases.bash
!/.bash_profile
!/.bashrc
!/.ctags
!/.gdbinit
!/.gemrc
!/.gitconfig
!/.gitignore
!/.grc/
!/.mplayer/
!/.profile
!/.psqlrc
!/.ripgreprc
!/.tmux.conf
!/github-png-samples/

!/.config/
/.config/*

!/.config/emacs/
/.config/emacs/*
!/.config/emacs/init.el

!/.config/geeqie/
/.config/geeqie/*
!/.config/geeqie/applications/

!/.config/nvim/
/.config/nvim/*
!/.config/nvim/init.lua

!/.config/mpv/
!/.config/rustfmt/
!/.config/yt-dlp/

!/.purple/
/.purple/*
!/.purple/smileys

!/.vim/
/.vim/*
!/.vim/*.vim
!/.vim/colors
!/.vim/ftdetect
!/.vim/syntax

!/bin/
/bin/clean-local-cache
/bin/dell-pa-switch-profile.sh
/bin/encrypt_files.sh
/bin/fix-perms
/bin/rm-tex-tmp
/bin/sync-music-to-android.sh
