/*

!/.gitignore
!/.grc/
!/github-png-samples/
!/.mplayer/

!/.config/
/.config/*
!/.config/youtube-dl/

!/.purple/
/.purple/*
!/.purple/smileys

!/.vim/
/.vim/*
!/.vim/*.vim
!/.vim/colors
!/.vim/ftdetect
!/.vim/syntax
