/*

!/.gitignore
!/.grc/
!/.mplayer/
!/github-png-samples/

!/.config/
/.config/*
!/.config/youtube-dl/

!/.purple/
/.purple/*
!/.purple/smileys

!/.vim/
/.vim/*
!/.vim/*.vim
!/.vim/colors
!/.vim/ftdetect
!/.vim/syntax

!/usr/
/usr/*
!/usr/bin/
/usr/bin/*
!/usr/bin/beep_beethoven.sh
!/usr/bin/beep_star_wars.sh
!/usr/bin/date-suffix
!/usr/bin/volume_ctl
!/usr/bin/youtube-mplayer
